<!DOCTYPE html>
<html lang="sr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Advokat Sanja Mandarić | Imovinsko i porodično pravo | Pančevo</title>
    <meta name="description" content="Advokat Sanja Mandarić, Pančevo. Više od 15 godina iskustva u imovinskom, porodičnom i odštetnom pravu, uz profesionalan i smiren pristup.">
    <meta name="keywords" content="advokat Pančevo, imovinsko pravo Pančevo, porodični advokat, razvod braka advokat, naknada štete advokat">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    {{HEADER}}
    <main>
        {{CONTENT}}
    </main>
    {{FOOTER}}
    <script src="../assets/js/script.js"></script>
</body>
</html>

